.login-error {
  background: rgb(255, 107, 107);
  color: black;
  text-align: center;
  height: 5%;
  margin-top: -10px;
  padding: 5px;
  margin-bottom: -50px;
}

.login-page{
  min-height: 100%;
  height: 100%;
}

.login-sign-up {
  font-size: 32px;
  color: black;
  margin-top: -30px;
}

.login-container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 100%;
  min-height: 100%;
}

.login-logo {
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin-top: 30px;
}

.login-form-wrapper {
  padding: 2px;
}

.login-input-helper {
  font-size: 16px;
  color: rgba(0,0,0,.5);
  margin-bottom: -10px;
}

.login-actions {
  margin-top: 10px;
  display: flex;
}

.login-forgot-password {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: auto;
  color: #00f;
  width: 60%;
}

.login-button {
  flex: 1;
}

.login-create-account-redirect{
  font-size: 14px;
  margin-top: 15px;
  color: #00f;
  margin-bottom: 10px;
  text-align: center;
}

.login-continue-with{
  text-align: center;
  color: rgba(0,0,0,.5);
  font-size: 14px;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.login-footer {
  position: fixed;
  top: 95%;
  left: 42%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  font-style: italic;
}
