.register-form-container {
  margin-left: 100px;
  margin-top: 120px;
  margin-right: auto;
  display: flex;
  width: 90vw;
  max-height: 90vh;
}

.register-form-form {
  width: 70%;
}

.register-form-image {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.register-form-row {
  display: flex;
  flex-direction: row;
}

.register-form-title {
  text-align: center;
  font-size: 32px;
  color: rgb(0, 38, 62);
  border-bottom: 1px solid rgba(0,0,0,.7);
  margin-bottom: 10px;
}

.register-input-helper{
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.register-input {
  text-align: center;
  margin-bottom: 10px;
  align-content: left;
}
