.form-container {
  background-color: white;
  position: relative;
  top: 100px;
  max-width: 75%%;
  min-height: 500px;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 768px){
  .form-container {
    width: 500px;
  }
}

@media(min-width: 992px){
  .form-container {
      width: 700px;
  }
}

@media (min-width: 1200px) {
    .form-container{
        width: 900px;
    }
}
