
.navbar-container {
    position: relative;
    z-index: 10;
    width: 100vw;
}

.navbar-color {
    background-color: rgba(0, 0, 0, .8);
}

.navbar-content {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0 20px;
}

.spacing {
    flex-grow: 1;
}

.navbar {
    font-family: 'museo-sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.navbar-items li {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 0 5px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.navbar-items li:hover {
    border-bottom: 1px solid white;
}

.active li {
    border-bottom: 1px solid white;
}

.auth-item li {
    display: block;
    color: yellow;
    text-align: center;
    padding: 5px 0;
    margin: 0 5px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.auth-item li:hover {
    border-bottom: 1px solid yellow;
}
