
.text-field-label-container-left {
  display: flex;
  position: relative;
  clear:both;
}

.label-div-left{
  width: 300px;
  color: #000000;
  position: relative;
  margin-left: 14px;
}

.text-field-div-left {
  flex: 1;
}

.text-field-div-top {
  position: absolute;
}

.text-field-label-container-top {
  margin-left: 30px;
  position: relative;
}

.label-div-top{
  width: 200px;
  color: #000000;
  position: relative;
  margin-left: 14px;
}

.text-field-div-top {
  position: relative;
}
